@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&display=swap');
.afacad-font{
    font-family: "Afacad Flux", sans-serif !important;
}
.fredoka-font{
    font-family: "Fredoka", sans-serif !important;
};

// text-limit
.text-limit{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;        
}